<body class="bg-gray-800">
    <div class="container mx-auto mt-8">
        <h1 class="text-3xl text-center mb-8">University Enrollment</h1>
        
        <form class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md"id="myform">
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                <input type="text" id="username" name="username" class="border border-gray-300 p-2 w-full" placeholder="Enter your username">
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                <input type="password" id="password" name="password" class="border border-gray-300 p-2 w-full" placeholder="Enter your password">
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Login</button>
        </form>
        
        <p class="text-center mt-4">Don't have an account yet? <a href="#" class="text-blue-500" id="register">Register</a></p>
    </div>
</body>
<script src="/js/login.js"></script>